<nav class="site-nav">
  <div class="nav-inner">
    <a href="{{ "/" | prepend: site.baseurl }}" class="logo">Wendy Ran Wei</a>
    <button class="hamburger" onclick="document.querySelector('.nav-links').classList.toggle('open')" aria-label="Menu">
      <span></span><span></span><span></span>
    </button>
    <ul class="nav-links">
      <li><a href="{{ "/about/" | prepend: site.baseurl }}"{% if page.url == '/about/' %} class="active"{% endif %}>About Me</a></li>
      <li><a href="{{ "/#publications" | prepend: site.baseurl }}">Publications</a></li>
      <li><a href="{{ "/#education" | prepend: site.baseurl }}">Education &amp; Experience</a></li>
      <li><a href="{{ "/#patents" | prepend: site.baseurl }}">Patents &amp; Open Source</a></li>
      <li><a href="{{ "/#hobbies" | prepend: site.baseurl }}">Hobbies &amp; Side Projects</a></li>
    </ul>
  </div>
</nav>
